@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapp
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
}

@media (max-width: 768px) {
    .wrapp{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 3rem;
    }
}
@media (max-width: 500px) {
    .wrapp{
        grid-template-columns: repeat(1,1fr);
        grid-gap: 3rem;
    }
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('../src/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf');
}
body::-webkit-scrollbar {
    width: 1em;
    height: 1em;
  }
  
body::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, #141e30, #243b55);
   
  }
body::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #3a7bd5, #3a6073);
    border: 0.25em solid linear-gradient(to bottom, #3a7bd5, #3a6073);
    border-radius: 50vw;
    margin-block: 1.5rem;
  }
  
    
 
  
  
 
  
  